 // reset

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
}
a {
  text-decoration: none;
}

//

.wrapper {
  max-width: 1171px;
  margin: 0 auto;
}


*, body, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins';
}
a{
    text-decoration: none;
    color: #000;
}

// 
._bg__gray{
    background: #f6f6f6;
    padding: 110px 0;
}
.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}
.__pd{
    padding: 80px 0;
}

.forms-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-size: 36px;
        font-weight: 600;
    }
    p{
        font-size: 14px;
        opacity: 0.5;
        a{
            color: #ffae00;
        }
    }
}

.form{
    min-width: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;

    .inputs{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 0 25px 0;
        input{
            width: 295px;
            height: 60px;
            outline: none;
            font-size: 12px;
            padding: 0 0 0 17px;
            border: none;
            &::placeholder{
                font-size: 12px;
                opacity: 0.5;
            }
        }
    }
    .textareas{
        width: 100%;
        margin: 0 0 25px 0;
        textarea{
            width: 100%;
            height: 160px;
            outline: none;
            font-size: 12px;
            padding: 0 26px 0 17px;
            border: none;
            &::placeholder{
                font-size: 12px;
                opacity: 0.5;
                margin: 26px 0 0 0;
            }
        }
    }
    .btn{
        width: 471px;
        height: 60px;
        background: #ffae00;
        color: #fff;
        border: 0;
    }
}
.wrapper {
    .block {
      display: flex;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
      .text {
        align-self: flex-start;
  
        margin-top: 80px;
  
        .chapter {
          font-size: 36px;
          color: black;
          text-align: left;
          margin-bottom: 70px;
          font-weight: bold;
          span {
            color: #ffae00;
          }
        }
        .item {
          .text-1 {
            font-size: 18px;
            font-weight: bold;
            position: relative;
            padding-left: 50px;
            margin-bottom: 20px;
          }
          .text-1::before {
            content: "";
            position: absolute;
            top: 7px;
            width: 40px;
            height: 3px;
            background-color: black;
            margin-left: -50px;
            margin-top: 5px;
          }
          .text-2 {
            padding-left: 50px;
            color: #666666;
            text-align: left;
            font-size: 14px;
            margin-bottom: 40px;
          }
        }
      }
    }
  }

header{
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 50px;
    .wrapper{
        display: flex;
        justify-content: space-between;
        background-color: #f1f1f1;
        a{
            display: block;
        }
        nav{
            ul{
                display: flex;
                li{
                    font-size: 14px;
                    margin-right: 35px;
                    a{
                        color: black;
                    }
                }
            }
        }
        .burger{
            display: none;
        }
        @media screen and (max-width: 600px) {
            .burger{
                display: block;
            }
            nav{
                display: none;
            }
        }
        
    }
}

.kelvin{
    background: #f1f1f1;
    .wrapper{
        padding-top: 150px;
        display: flex;
        justify-content: space-between;
        .text{
            margin-top: 250px;
            h2{
                width: 450px;
                font-size: 44px;
            }
            p{
                width: 540px;
                font-size: 14px;
                margin-top: 15px;
            }
        }
        @media screen and (max-width: 1100px){
            img{
                display: none;
            }
            .text{
                text-align: center;
                h2{
                    text-align: center;
                    width: 100%;
                }
                p{
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
    // height: 50px;
    // background: #000;
}
