*,
body,
html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins';
  font-family: "Poppins";
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

*, body, html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins';
}

a {
  text-decoration: none;
  color: #000;
}

._bg__gray {
  background: #f6f6f6;
  padding: 110px 0;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.forms-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forms-section h2 {
  font-size: 36px;
  font-weight: 600;
}

.forms-section p {
  font-size: 14px;
  opacity: 0.5;
}

.forms-section p a {
  color: #ffae00;
}

.form {
  min-width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 0 0;
}

.form .inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 25px 0;
}

.form .inputs input {
  width: 295px;
  height: 60px;
  outline: none;
  font-size: 12px;
  padding: 0 0 0 17px;
  border: none;
}

.form .inputs input::-webkit-input-placeholder {
  font-size: 12px;
  opacity: 0.5;
}

.form .inputs input:-ms-input-placeholder {
  font-size: 12px;
  opacity: 0.5;
}

.form .inputs input::-ms-input-placeholder {
  font-size: 12px;
  opacity: 0.5;
}

.form .inputs input::placeholder {
  font-size: 12px;
  opacity: 0.5;
}

.form .textareas {
  width: 100%;
  margin: 0 0 25px 0;
}

.form .textareas textarea {
  width: 100%;
  height: 160px;
  outline: none;
  font-size: 12px;
  padding: 0 26px 0 17px;
  border: none;
}

.form .textareas textarea::-webkit-input-placeholder {
  font-size: 12px;
  opacity: 0.5;
  margin: 26px 0 0 0;
}

.form .textareas textarea:-ms-input-placeholder {
  font-size: 12px;
  opacity: 0.5;
  margin: 26px 0 0 0;
}

.form .textareas textarea::-ms-input-placeholder {
  font-size: 12px;
  opacity: 0.5;
  margin: 26px 0 0 0;
}

.form .textareas textarea::placeholder {
  font-size: 12px;
  opacity: 0.5;
  margin: 26px 0 0 0;
}

.form .btn {
  width: 471px;
  height: 60px;
  background: #ffae00;
  color: #fff;
  border: 0;
}

.wrapper .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper .block .text {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 80px;
}

.wrapper .block .text .chapter {
  font-size: 36px;
  color: black;
  text-align: left;
  margin-bottom: 70px;
  font-weight: bold;
}

.wrapper .block .text .chapter span {
  color: #ffae00;
}

.wrapper .block .text .item .text-1 {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
}

.wrapper .block .text .item .text-1::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: black;
  margin-left: -50px;
  margin-top: 5px;
}

.wrapper .block .text .item .text-2 {
  padding-left: 50px;
  color: #666666;
  text-align: left;
  font-size: 14px;
  margin-bottom: 40px;
}

header {
  background-color: #f1f1f1;
  position: fixed;
  width: 100%;
  padding-top: 50px;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f1f1f1;
}

header .wrapper a {
  display: block;
}

header .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .wrapper nav ul li {
  font-size: 14px;
  margin-right: 35px;
}

header .wrapper nav ul li a {
  color: black;
}

header .wrapper .burger {
  display: none;
}

@media screen and (max-width: 600px) {
  header .wrapper .burger {
    display: block;
  }
  header .wrapper nav {
    display: none;
  }
}

.kelvin {
  background: #f1f1f1;
  height: 50px;
  background: #000;
}

.kelvin .wrapper {
  padding-top: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kelvin .wrapper .text {
  margin-top: 250px;
}

.kelvin .wrapper .text h2 {
  width: 450px;
  font-size: 44px;
}

.kelvin .wrapper .text p {
  width: 540px;
  font-size: 14px;
  margin-top: 15px;
}

@media screen and (max-width: 1100px) {
  .kelvin .wrapper img {
    display: none;
  }
  .kelvin .wrapper .text {
    text-align: center;
  }
  .kelvin .wrapper .text h2 {
    text-align: center;
    width: 100%;
  }
  .kelvin .wrapper .text p {
    text-align: center;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */